.banner {
    background-image: url(https://res.cloudinary.com/dgq2l5run/image/upload/v1553615087/TRACTEUR_TONDEUSEcapitale2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100vw;
    min-height: 100vh;
    margin-top: 55px;
  }